.my-pink { color: #80808a; }
.my-bg-pink { background-color: rgb(139, 102, 122);}


/* Text area */
.transparent-input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  overflow: hidden; /* Hide scrollbars until content overflows */
  overflow-y: auto;  /* Enable scrolling when max height is reached */
  resize: none; /* Disable manual resizing by the user */
  max-height: 300px; /* Set max height */
  }

/* Entire scrollbar */
::-webkit-scrollbar {
  margin-left:10px;
  width: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle (Thumb) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; /* Use px for better control */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  